body{
    background-color: slategrey;
    color: blanchedalmond;
    margin: 15px;
}
table{
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}
img{
    width: 100%;
    padding: 10px;
}
figcaption{
    text-align: center;
}
td{
    border: 1px solid black;
}
h3, h2, h1{
    box-shadow: 5px 5px 5px white;
    text-shadow: 5px 5px 5px black;
}
h1{
    text-align: center;
}