body{
    background-color: slategrey;
    color: cornsilk;
    font-size: 20px;
    margin: 10px;
}
img{
    width: 100%;
} 
h3, h2, h1{
    box-shadow: 5px 5px 5px aqua;
    text-shadow: 5px 5px 5px black;
}
h1{
    text-align: center;
}
#phasmophobia{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}