body{
    background-color: slateblue;
    color: bisque;
    font-family: Arial, sans-serif;
    margin: 10px;
}
.felkover{
    font-weight: bolder;
}
h2{
    color: crimson;
    text-align: center;
}
p {
    font-size: 18px;
    text-align: justify;
}
table, td{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}
.felkover2{
    font-weight: bolder;
    color: black;
}
h1{
    text-align: center;
}