body{
    background-color: slategrey;
    color: bisque ;
    margin: 10px;
}
h1{
    text-align: center;
}
img{
    width: 100%;
}

h4{
margin: 15px;
}
p{
    margin: 10px;
}
h2, h1{
    box-shadow: 5px 5px 5px aqua;
    text-shadow: 5px 5px 5px black;
}
.felkover{
    font-weight: bolder;
}
